<div class="terms-page">
    <div class="page-header w-100 d-flex">
        <h1 class="title">Terms & Conditions</h1>
        <div class="header-img">
            <img src="../../../assets/images/terms.svg" alt="Terms and Conditions">
        </div>
    </div>
    <div class="page-content d-flex">
        <section class="terms-section">
            <h2 class="section-title">Terms & Conditions</h2>
            <p class="content">
                This Privacy Policy governs the manner in which Anghami collects, uses, maintains and discloses
                information collected from users (each, a “User”) of the My Paintings Application (the “Site/App”)
                (“Data”). This Privacy Policy applies to the Website/App and all products and services provided by
                Anghami (“Service”). We use your data to provide and improve the Service. By using this Service, you
                consent to the collection and use of information in accordance with this policy.
            </p>
            <div class="term">
                <h3>
                    1. Personally Identifiable Information: Personal Data
                </h3>
                <p class="content">
                    We may collect personal identification information from Users in a variety of ways, including, but
                    not limited to, when Users visit our site, register on the site, fill out a form, and in connection
                    with other activities, services, features or resources we make available on our Site/App. Users may
                    be asked for, as appropriate, name, email address, mailing address, credit card information. Users
                    may, however, visit our Site/App anonymously. We will collect personal identification information
                    from Users only if they voluntarily submit such information to us. Users can always refuse to supply
                    personally identification information, except that it may prevent them from engaging in certain
                    Site/App related activities.
                </p>
            </div>
            <div class="term">
                <h3>
                    2. Non-personal identification information: Usage data
                </h3>
                <p class="content">
                    We may collect non-personal identification information about Users whenever they interact with our
                    Site/App. Non-personal identification information may include the browser name, the type of computer
                    and technical information about Users means of connection to our Site/App, such as the operating
                    system and the Internet service providers utilized and other similar information.
                </p>
            </div>
        </section>
        <section>
            <h2 class="section-title">Notice and Procedure for Making Claims of Copyright or Other Intellectual Property
                Infringement</h2>
            <p class="content">
                We may collect personal identification information from Users in a variety of ways, including, but not
                limited to, when Users visit our site, register on the site, fill out a form, and in connection with
                other activities, services, features or resources we make available on our Site/App. Users may be asked
                for, as appropriate, name, email address, mailing address, credit card information. Users may, however,
                visit our Site/App anonymously. We will collect personal identification information from Users only if
                they voluntarily submit such information to us. Users can always refuse to supply personally
                identification information, except that it may prevent them from engaging in certain Site/App related
                activities.
            </p>
        </section>
        <section>
            <h2 class="section-title">Your acceptance of these terms</h2>
            <p class="content">
                We may collect personal identification information from Users in a variety of ways, including, but not
                limited to, when Users visit our site, register on the site, fill out a form, and in connection with
                other activities, services, features or resources we make available on our Site/App. Users may be asked
                for, as appropriate, name, email address, mailing address, credit card information. Users may, however,
                visit our Site/App anonymously. We will collect personal identification information from Users only if
                they voluntarily submit such information to us. Users can always refuse to supply personally
                identification information, except that it may prevent them from engaging in certain Site/App related
                activities.
            </p>
        </section>
    </div>
</div>