<div class="hero-container d-flex">
    <div class="hero-content">
        <div class="logo">
            <img src="../../../../assets/images/logo-lg.svg" alt="arabicoach">
        </div>

        <h1 class="header">
            Master Arabic with
            <br>
            <span class="highlight">Expert Coaches </span> at Your
            <br>
            Fingertips
        </h1>
        <p class="details">
            Book customized lessons with licensed Arabic coaches and attain Arabic fluency-all in one seamless app.
        </p>
        <div class="coaches">
            <div class="avatars">
                <img src="../../../../assets/images/coaches.svg" alt="coaches">
            </div>
            <p>
                Trusted Arabic Coaches over the world
            </p>
        </div>

        <div class="actions">
            <button class="action-btn solid-btn"> Start Now </button>
            <button class="action-btn"> Talk to us</button>
        </div>

    </div>
    <div class="hero-banner">
        <img src="../../../../assets/images/hero.webp" alt="Hero image">
    </div>
</div>