.features-container-main {
    // padding-top: 8.25rem;
    @media (max-width: 768px) {
      padding-top: 5rem;
    }
  }
  .features-container-sub {
    padding-bottom: 10.25rem;
    .features {
      margin-top: 0;
    }
  }
  
  .features {
    margin-top: 4.6rem;
    flex-direction: column;
    gap: 8.25rem;
    @media (max-width: 768px) {
      margin-top: 5.12rem;
      gap: 8rem;
    }
  
    .feature-wrapper {
      justify-content: space-between;
      .feature__img {
        width: 35%;
      }
      .feature__body {
        width: 55.95%;
        color: var(--Dark-Text);
        text-align: right;
        .title {
          margin-bottom: 2rem;
          font-size: 1.875rem;
          font-weight: 600;
          line-height: 3.375rem;
          gap: 1rem;
        }
        .description {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.8rem;
        }
      }
  
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
        .feature__img,
        .feature__body {
          width: 100%;
        }
        .feature__body {
          .title {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
            line-height: 2.25rem;
          }
          .description {
            font-size: 0.875rem;
            line-height: 1.575rem;
          }
        }
      }
    }
  
    .orderSwitch {
      @media (min-width: 769px) {
        .feature__img {
          order: 2;
        }
        .feature__body {
          order: 1;
        }
      }
    }
  }