<footer>
    <div class="footer-container">
        <div class="footer-content d-flex">
            <a class="logo" routerLink="">
                <img src="../../../assets/images/logo-lg-light.svg" alt="arabicoach">
            </a>
            <ul class="navlinks d-flex">
                <li class="navlink">
                    <a routerLink="">Home</a>
                </li>
                <li class="navlink">
                    <a routerLink="">App Features</a>
                </li>
                <li class="navlink">
                    <a routerLink="termsAndConditions">Terms & Conditions</a>
                </li>
                <li class="navlink">
                    <a routerLink="privacyPolicy">Privacy Policy</a>
                </li>
            </ul>
            <div class="actions">
                <button class="action-btn">Start Now</button>
            </div>
        </div>
        <div class="copyrights">
            © <span>2024</span> arabicoach. All rights reserved.
        </div>
    </div>
</footer>