<div class="contactUs-container">
    <div class="contactUs__header">
        <img src="../../../../assets/images/contact-us.webp" alt="Talk to us" />
    </div>
    <div class="contactUs__content d-flex">
        <!-- <div class="contactUs__content__form"> -->
        <form class="contactUs__content__form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
            <div class="title-primary">
                Talk to us
                <div class="underline">
                    <img src="../../../../assets/images/title-underline.svg" alt="underline">
                </div>
            </div>
            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>Name <span class="required-icon">*</span></mat-label>
                    <input matInput id="name" type="text" formControlName="name">
                    @if (!contactForm.controls['name'].valid && contactForm.controls['name'].touched) {
                    <mat-error> This Field is required </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>Email <span class="required-icon">*</span></mat-label>
                    <input matInput id="email" type="text" formControlName="email">
                    @if (!contactForm.controls['email'].valid && contactForm.controls['email'].touched && !contactForm.controls['email'].errors?.['email']) {
                    <mat-error> This Field is required </mat-error>
                    }
                    @if(contactForm.controls['email'].errors?.['email']){
                    <mat-error> Enter a vaild E-mail ! </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>Your Message <span class="required-icon">*</span></mat-label>
                    <textarea matInput id="message" type="text" formControlName="message"></textarea>
                    @if (!contactForm.controls['message'].valid && contactForm.controls['message'].touched) {
                    <mat-error> This Field is required </mat-error>
                    }
                </mat-form-field>
            </div>

            <button mat-button class="submit-btn" [disabled]="!contactForm.valid || isLoading">
                Send
            </button>
        </form>
        <!-- </div> -->
        <div class="contactUs__content__image">
            <img src="../../../../assets/images/contact-us.webp" alt="phone" />
        </div>
    </div>
</div>