:root {
  --Primary-Color: #009486;
  --Primary-chips: rgba(0, 148, 134, 0.12);
  --Primary-on-Container: #fff;
  --Text-Color: #051d30;
  --Dark-Text: #2e2e42;
  --Text-on-primary-and-secondry: #f6f7f9;
  --Neutral-Color: #6b6b6b;
  --Mid-Neutral: #b5b5b5;
  --Dark-Neutral-Color: #2a2a2a;
  --Snack-bar: #323232;
  --Warn-Color: #ba3939;
  --Error-Text: #d93939;
  --Landing-Background: #f6f2eb;
  --Landing-Primary-light: #dceae2;
}
