@import "variables";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  direction: ltr;
  background-color: var(--Landing-Background);
  caret-color: transparent;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.d-flex {
  display: flex;
  align-items: center;
}

.action-btn {
  display: flex;
  width: 9.875rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 2px solid var(--Primary-Color);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16);
  color: var(--Primary-Color);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 180%; /* 1.575rem */
  background-color: transparent;
  &.solid-btn {
    background-color: var(--Primary-Color);
    color: var(--Primary-on-Container);
  }
  &:hover {
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    height: 2.5rem;
  }
}

.title-primary {
  color: var(--Text-Text-Color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 180%; /* 3.6rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  .underline {
    display: flex;
  }

  @media (max-width: 1024px) {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 180%; /* 2.25rem */
    gap: 0.25rem;
  }
}

.mat-mdc-snackbar-surface{
  padding-right: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  margin-bottom: 1rem;
}
.mdc-snackbar__label{
  padding: 0;
}