<div class="home-container w-100">
    <app-hero id="hero" (visibilityChange)="onVisibilityChange($event, 'heroSection')" appIntersectionObserver></app-hero>
    <app-features [title]="true" id="features" (visibilityChange)="onVisibilityChange($event, 'featuresSection')" appIntersectionObserver></app-features>
    <app-download-app></app-download-app>
    <app-features id="features2" (visibilityChange)="onVisibilityChange($event, 'featuresSection')" appIntersectionObserver></app-features>
    <app-contact-us id="contactUs" (visibilityChange)="onVisibilityChange($event, 'contactUsSection')" appIntersectionObserver></app-contact-us>
    <app-join-team></app-join-team>
</div>

